[submodule "site"]
	path = site
	url = git@github.com:damiencourousse/damiencourousse.github.io.git
[submodule "submodules/mespubli"]
	path = mespubli
	url = ssh://git@git.courousse.fr/w/mespublis.git
