[submodule "site"]
	path = site
	url = git@github.com:damiencourousse/damiencourousse.github.io.git
[submodule "submodules/mespubli"]
	path = submodules/mespubli
	url = ssh://git@alain.local/w/mespublis.git
