[submodule "site"]
	path = site
	url = git@github.com:damiencourousse/damiencourousse.github.io.git
[submodule "submodules/mespubli"]
	path = mespubli
	url = ../w/mespublis.git
[submodule "images/expressions-urbaines"]
	path = images/expressions-urbaines
	url = ../expressions-urbaines
