.header {
    color: #000;
}
.footer{
		padding-left:2em;
		padding-right:2em
}
html {
	font-family: 'sans serif';
}
h1 {
	font-weight: lighter;
    color: #000;
}
h2 {
	font-weight: lighter;
    color: #000;
}
h3 {
	font-weight: normal;
    color: #000;
}
body {
    color: #000;
}
pre {
    background-color: #F5F5F5;
    border-radius: 4px;
    border: 1px solid #CCC;
    display: block;
    line-height: 1.42857;
    padding: 9.5px;
    word-wrap: break-word;
}

code {
	font-size: 100%;
}

p, pre {
    margin: 1ex 1em;
}
