.header {
    color: #000;
}
.footer{
		padding-left:2em;
		padding-right:2em
}
h1 {
	font-weight: normal;
    color: #000;
}
h2 {
	font-weight: normal;
    color: #000;
}
h3 {
	font-weight: normal;
    color: #000;
}
body {
    color: #000;
}


